html{
	height: 100%;
	background-color: rgba(0,18,32,1);
	font-family: 'DM Sans', sans-serif;
	color:white;

}

::selection {
	background-color: lightgray;
}

nav{

	/*Size & Postitioning*/
	width: 90%;
	margin: auto;
	margin-top: 2%;
	display: flex;

	/*Text*/
	font-weight: normal;
	letter-spacing: 2px;
}

body{
	position: relative;
}

.nav-button{
	margin-left: 5%;
}

a{
	text-decoration: none;
	color:white;
}

a:hover{
	color:gray;
}

#intro-container{

	/*Positioning*/
	margin-top:5%;

	/*Size*/
	height:35%;
	width: 100%;

	display: inline-flex;

}

#banner{

	/*Text*/
	text-align: left;
	font-size: 6em;
	font-weight: bolder;

	/*Positioning*/
	margin-left: 5%;

}

#hollow{
	color: transparent;
	-webkit-text-stroke: 1.5px white;
}

#intro-paragraph{

    height: 200px;
    width: 50%;
    margin-left: 5%;
    margin-top: auto;
    font-weight: 600;
    font-size: 1.5em;
}

.content-container{
	/*Size & Positioning*/
	width: 90%;
	max-height: 100%;
	margin-left: 5%;
	margin-top: 1%;

	display: inline-flex;

	overflow: hidden;
}

.section-title{
	font-size: 2em;
	font-weight: bolder;
	text-align: center;
	margin: 0 auto;
}

.featured{
	height:350px;
	width: 300px;

	background-color: white;
	border-radius: 10px;

	margin:auto;
	overflow: hidden;
}


.soda{
	height:102%;
	width: 100%;
}
.soda:hover{
	filter: opacity(0.75);
	box-shadow: 1px 1px 1px white;
	cursor: pointer;
}


.nurture{
	height:100%;
	width: 101%;
}
.nurture:hover{
	filter: opacity(0.75);
	filter: brightness(1.15);
	cursor: pointer;
}


/* WORK PAGES */

.progress-tracker{
	border: 1px solid red;
	height: 90%;
	width: 20% ;
	margin-left: 0;
}

.content-container-work{
	width: 90%;
	max-height: 100%;

	display: block;
	overflow-x: hidden;

	text-align: justify;
}

.noted{
	font-weight: lighter;
	font-style: italic;
}

p{
	margin-top: -16px;
	margin-bottom: 50px;
}

p.caption{
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
}

.personas{
	width:60%;

	/*To center*/
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
}

.low-prototypes{
    width: 30%;
    margin-left: 32px;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 22px;
}

.mid-prototypes{
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 22px;
}